p{
    margin-top: 0px;
    margin-inline: 10px;
}

svg{
    margin-left: auto;
    margin-right: 10px;
    margin-block: 5px;
}

.svg-inline--fa .fa-angle-down{
    margin: 110px;
}

.coverAbout{
    display: flex;
    margin-top: 15px;
    margin-inline: auto;
    border-radius: 15px;
}