.carrousel {
  height: 415px;
  margin: 0 auto;
}

.carrousel-index {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 48.95%;
  right: 49.11%;
  top: 86.19%;
  bottom: 6.01%;
  font-family: 'Montserrat';
  font-size: 18px;
  color: #ffffff;
}

.arrow {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: calc(100% - 30px);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.arrow img {
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;
  height: 50px;
}

.slide {
  margin-inline: auto;
  margin-top: 20px;
  max-width: 1240px;
  height: 415px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.slider {
  position: relative;
  margin-inline: 100px;
  height: 415px;
}

@media screen and (max-width: 700px) {
  .slider{
    margin-inline: 25px;
  }

  .left-arrow{
    font-size: large;
  }
}

@media screen and (max-width: 375px) {
  .slider{
    margin-inline: 0px;
  }
}
