.dropdown__header{
    display: flex;
    margin-inline: auto;
    border-radius: 2px;
    background-color: #FF6060;
    margin-top: 15px;
    max-width: 1023px;
    text-decoration: none;
    color: white;
}

.dropdown__name{
    margin-left: 10px;
}

.dropdown__content{
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 2px;
    display: flex;
    margin-inline: auto;
    margin-top: 0px;
    width: 1023px;
}

.dropdown{
    width: 100%;
}

.dropdown__header__location{
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: #FF6060;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    max-width: 582px;
    height: 52px;
}

.dropdown__name__location{
    font-size: 18px;
    margin-left: 10px;
    align-items: center;
}

.dropdown__content__location{
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 10px;
    margin-top: 0px;
    max-width: 582px;
    height: 200px;
    font-size: 18px;
}