.gallery {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: 100px;
  padding-left: 38px;
  padding-right: 38px;
  background: #f7f7f7;
}

@media screen and (max-width: 1050px) {
  .gallery {
    margin-inline: 50px;
    background-color: white;
    padding: 0;
  }
}
