.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-inline: 100px;
}

.logo {
  display: flex;
  height: 68px;
  width: 211px;
}

@media screen and (max-width: 700px) {
  .header {
    margin-inline: 50px;
  }

  .logo {
    width: 122px;
    height: 39.5px;
  }
}
