.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}

.title__subtitle {
  color: #ff6060;
}

.description__equipements {
  display: flex;
  margin-inline: 100px;
  margin-top: 35px;
}

.description {
  width: 100%;
}

.equipements {
  width: 100%;
  margin-left: 73px;
}

.location__subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 10px;
} 

li {
  list-style-type: none;
}

ul {
  margin-top: 0px;
  padding: 0px;
}

@media screen and (max-width: 700px) {
  .body {
    margin: 0 20px;
  }
  .title {
    margin-left: 25px;
  }
  .slide{
    height: 335px;
  }
  .presentation {
    flex-direction: column;
  }
  .description__equipements {
    margin-inline: 20px;
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .equipements{
    margin-top: 20px;
    margin-left: 0px;
  }
  .location__header {
    margin-left: 20px;
  }
  .location__subheader {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-inline: 20px;
  }
}

@media screen and (max-width: 375px) {
  .description__equipements {
    margin-top: 10px;
    margin-inline: 0px;
    flex-direction: row;
  }
  .location__header {
    margin-left: 0px;
  }
  .location__subheader {
    margin-inline: 0px;
  }
}
