@media screen and (max-width: 375px){

    body{
        margin: 0 20px;
    }

    .imgAccueil{
        height: 100px;
    
    }
    .listCard{
        background-color: white;
        margin:0 0;
    }
    .thumb{
        height: 100%;
         width: 100%;
         margin: 10px 0px;
    }
    .card b{
        width: 40%;
    }
    
    .thumb-cover{
        justify-content: flex-start;

    }
    .thumb-cover p{
       
        font-size: 25px;
    width: 50%;
    }
}
