.dropdown.dropdown--large .dropdown__header{
    display: flex;
    margin-inline: auto;
    border-radius: 5px;
    background-color: #FF6060;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    align-items: center;
    height: 47px;
}

.dropdown.dropdown--large .dropdown__name{
    margin-left: 10px;
}

.dropdown.dropdown--large .dropdown__content{
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 2px;
    display: flex;
    margin-inline: auto;
    margin-top: 0px;
    min-height: auto;
}

.dropdown{
    width: 100%;
}

.dropdown__header{
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: #FF6060;
    text-decoration: none;
    color: white;
    height: 47px;
}

.dropdown__name{
    font-size: 18px;
    margin-left: 10px;
}

.dropdown__content{
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 10px;
    margin-top: 0px;
    min-height: 200px;
    font-size: 21px;
}